@model Medinova.Dtos.Defaults.DefaultPlanDto

<div class="container-fluid py-5">
    <div class="container">

        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">
                Tıbbi Paketler
            </h5>
            <h1 class="display-4">Öne Çıkan Sağlık Programları</h1>
        </div>

        <div class="owl-carousel price-carousel position-relative"
             style="padding: 0 45px 45px 45px;">

            @if (Model?.Plans == null || !Model.Plans.Any())
            {
               <div class="bg-light rounded text-center p-5 shadow-sm">
                   <p>Henüz içerik yok.</p>
               </div>
            }
            else
            {
                foreach (var plan in Model.Plans)
                {
                    <div class="bg-light rounded text-center shadow-sm">

                        <div class="position-relative">
                            @if (!string.IsNullOrWhiteSpace(plan.ImageUrl))
                            {
                                <img class="img-fluid rounded-top"
                                     src="@plan.ImageUrl"
                                     alt="@plan.Title" />
                            }

                            <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle
                                        rounded-top d-flex flex-column align-items-center justify-content-center"
                                 style="background: rgba(29, 42, 77, .8);">
                                <h3 class="text-white">@plan.Title</h3>
                                <h1 class="display-4 text-white mb-0">
                                    @plan.Duration
                                </h1>
                            </div>
                        </div>

                    </div>
                }
            }

        </div>

    </div>
</div>
