﻿<div class="container-fluid bg-primary bg-gradient my-5 py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Doktorunu Bul</h5>
            <h1 class="display-4 mb-4">Uzman Sağlık Profesyonelleri</h1>
            <p class="text-white-50 fw-normal">
                Bölüm ve anahtar kelime ile arama yaparak size en uygun uzmanları kolayca bulun.
            </p>
        </div>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group shadow-lg rounded-4 overflow-hidden">
                <select class="form-select border-primary w-25" style="height: 60px;">
                    <option selected>Bölüm</option>
                    <option value="1">Kardiyoloji</option>
                    <option value="2">Dahiliye</option>
                    <option value="3">Ortopedi</option>
                </select>
                <input type="text" class="form-control border-primary w-50" placeholder="Anahtar kelime">
                <button class="btn btn-dark border-0 w-25">Ara</button>
            </div>
        </div>
    </div>
</div>