@model Medinova.Dtos.LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Doktor Girişi</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="container">
            <h4>Doktor Giriş Sayfası</h4>

            <form method="post">
                @Html.AntiForgeryToken()

                <label>Kullanıcı Adı</label>
                @Html.TextAreaFor(x => x.UserName, new { @class = "form-control" })
                <br />
                <label>Şifre</label>
                <input type="password" name="Password" class="form-control" />
                <br />
                <span class="text-danger">@Html.ValidationSummary()</span>
                <button class="btn btn-primary">Giriş Yap</button>
            </form>
        </div>
    </div>
</body>
</html>